#login_form {
  margin: 100px auto;
  padding: 20px;
  padding-right: 30px;
  min-width: 250px;
  max-width: 300px;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid #a9bcd8;
  border-radius: 3px;
  box-shadow: 0 0 10px #a9bcd8;
}

#registration_button {
  background-color:  #ea0cba;
}

#registration_button:hover {
  background-color:  #e067c7;
}

#login_button {
  background-color:  #39ea0c;
}

#login_button:hover {
  background-color:  #79ea5c;
}
